// Helpers =================================================================

.bg-default {
    background-color: $brand-default;
}
.bg-info {
    background-color: $brand-info;
}
.bg-success {
    background-color: $brand-success;
}
.bg-warning {
    background-color: $brand-warning;
}
.bg-danger {
    background-color: $brand-danger;
}

.mb0 {
    margin-bottom: 0;
}
.mt0 {
    margin-top: 0;
}
.ml0 {
    margin-left: 0;
}
.mr0 {
    margin-right: 0;
}

.mauto {
    margin: auto;
}

.pt0 {
    padding-top: 0;
}

.pr0 {
    padding-right: 0;
}

.pb0 {
    padding-bottom: 0;
}

.pl0 {
    padding-left: 0;
}
